<table>
  <tr>
    <td colspan="3" id="main_text"><input type="text" disabled value="{{resultado}}"></td>
    <td><button (click)="limpiar()" class="op_button" class="betterButton">CE</button></td>
  </tr>
  <tr>
    <td><button (click)="marcaNumero('7')" class="number_button">7</button></td>
    <td><button (click)="marcaNumero('8')" class="number_button">8</button></td>
    <td><button (click)="marcaNumero('9')" class="number_button">9</button></td>
    <td><button (click)="operacion('x')" class="op_button">x</button></td>
  </tr>
  <tr>
    <td><button (click)="marcaNumero('4')" class="number_button">4</button></td>
    <td><button (click)="marcaNumero('5')" class="number_button">5</button></td>
    <td><button (click)="marcaNumero('6')" class="number_button">6</button></td>
    <td><button (click)="operacion('+')" class="op_button">+</button></td>

  </tr>
  <tr>
    <td><button (click)="marcaNumero('1')" class="number_button">1</button></td>
    <td><button (click)="marcaNumero('2')" class="number_button">2</button></td>
    <td><button (click)="marcaNumero('3')" class="number_button">3</button></td>
    <td><button (click)="operacion('-')" class="op_button">-</button></td>
  </tr>
  <tr>
    <td colspan="3"><button (click)="marcaNumero('0')" class="number_button">0</button></td>
    <td><button (click)="final()" id="blue_button">=</button></td>
  </tr>
</table>